body{
    margin: 0;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(237,238,237,1) 90%);
}

#nav {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid gold;
}

#nav-links {
    color: gold;
}

#nav-links-active {
    color: gold;
    border: 1px solid gold;
}

#nav-links-active:hover {
    color: white;
    background-color: gold;
}

#nav-links:hover {
    color: white;
    background-color: gold;
}

#a-logo {
    max-width: 70%;
}

#logo {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-top: 5px;
}

#hamburger {
    border: 0px;
    padding: 0;
}

#carouselExampleIndicators{
    margin-top: 9%;
}

#cr-container {
    position: relative;
}

#cr-image {
    filter: brightness(60%);
}

.cr-content {
    text-align: center;
    color: white;
    display: inline-block;
    font-size: 40%;
    width: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* .cr-content p {
    font-size: 10%;
} */
.cr-content h3 {
    font-size: 1.2em;
}

.text {
    color: white;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
}

.div {
    text-align: center;
    color: gold;
    margin: auto;
}

.boxed-items {
    display: inline-block;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid gold;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 40%);
    transition: all .2s ease-in-out;
    width: 80%;
    max-width: 400px;
    padding: 50px;
    background-color: white;
}

.boxed-items:hover {
    transform: scale(1.1);
}

footer {
    background-color: gray;
    color: white;
    position: relative;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity ease-out 1s;
  }
  
  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }
  
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    opacity: 0;
  }
  
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item.active,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
  }

  .footer {
      display: inline-block;
      margin-left: 5px;
      margin-top: 5px;
  }

  .footer-right {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      display: inline-block;
      text-align: right;
      width: 60%;
  }

  @media only screen and (min-width: 350px){
    .cr-content {
        text-align: center;
        color: white;
        display: inline-block;
        font-size: 50%;
        width: 40%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  @media only screen and (min-width: 380px){
    .cr-content {
        text-align: center;
        color: white;
        display: inline-block;
        font-size: 60%;
        width: 40%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  @media only screen and (min-width: 450px){
    .cr-content {
        text-align: center;
        color: white;
        display: inline-block;
        font-size: 70%;
        width: 40%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  @media only screen and (min-width: 550px){
    .cr-content {
        text-align: center;
        color: white;
        display: inline-block;
        font-size: 70%;
        width: 40%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  @media only screen and (min-width: 600px){
    .cr-content {
        text-align: center;
        color: white;
        display: inline-block;
        font-size: 100%;
        width: 40%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  @media only screen and (max-width: 930px) {
    .footer-right {
        display: inline-block;
        text-align: right;
        width: 55%;
    }
  }

  @media only screen and (max-width: 835px) {
    .footer-right {
        display: inline-block;
        text-align: right;
        width: 50%;
    }
  }

  @media only screen and (max-width: 755px) {
    .footer-right {
        display: inline-block;
        text-align: right;
        width: 35%;
    }
  }

  @media only screen and (min-width: 1125px) {
    #carouselExampleIndicators{
        margin-top: 5%;
    }
  }



