body{
    margin: 0;
    background: rgb(255,255,255);
}

#nav {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid gold;
}

#nav-links {
    color: gold;
}

#nav-links-active {
    color: gold;
    border: 1px solid gold;
}

#nav-links-active:hover {
    color: white;
    background-color: gold;
}

#nav-links:hover {
    color: white;
    background-color: gold;
}

#a-logo {
    max-width: 70%;
}

#logo {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-top: 5px;
}

#hamburger {
    border: 0px;
    padding: 0;
}

#carouselExampleIndicators{
    margin-top: 9%;
}

#image {
    filter: brightness(60%);
    width: 100%;
}

#cr-image {
    filter: brightness(60%);
}

.cr-content {
    text-align: center;
    color: white;
    display: inline-block;
    font-size: 40%;
    width: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cr-content h3 {
    font-size: 1.2em;
}

.text {
    color: white;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
}

.image-text {
    color: white;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
}

.image-div {
    text-align: center;
    color: gold;
    position: relative;
    margin-top: 25%;
}

/* image and text div scale */

@media only screen and (min-width: 230px){
    .image-text {
        font-size: 10%;
        color: white;
        position: absolute;
        text-align: center;
        width: 50%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .image-text h3 {
        transform: scale(0.8);
    }
}

@media only screen and (min-width: 237px){
    .image-text {
        font-size: 10%;
        color: white;
        position: absolute;
        text-align: center;
        width: 50%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .image-text h3 {
        transform: scale(0.6);
    }
    .image-div {
        text-align: center;
        color: gold;
        position: relative;
        margin-top: 20%;
    }
}

@media only screen and (min-width: 314px){
    .image-div {
        text-align: center;
        color: gold;
        position: relative;
        margin-top: 15%;
    }
}

@media only screen and (min-width: 320px){
    .image-text {
        font-size: 60%;
        color: white;
        position: absolute;
        text-align: center;
        width: 50%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .image-text h3 {
        transform: scale(0.6);
    }
    .image-div {
        text-align: center;
        color: gold;
        position: relative;
        margin-top: 19%;
    }
}

@media only screen and (min-width: 360px){
    .image-div {
        text-align: center;
        color: gold;
        position: relative;
        margin-top: 15%;
    }
}

@media only screen and (min-width: 450px){
    .image-text {
        font-size: 70%;
        color: white;
        position: absolute;
        text-align: center;
        width: 50%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .image-text h3 {
        transform: scale(0.8);
    }
    .image-div {
        text-align: center;
        color: gold;
        position: relative;
        margin-top: 15%;
    }
}

@media only screen and (min-width: 450px){
    .image-text {
        font-size: 80%;
        color: white;
        position: absolute;
        text-align: center;
        width: 50%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .image-text h3 {
        transform: scale(0.8);
    }
    .image-div {
        text-align: center;
        color: gold;
        position: relative;
        margin-top: 15%;
    }
}

@media only screen and (min-width: 700px){
    .image-text {
        font-size: 100%;
        color: white;
        position: absolute;
        text-align: center;
        width: 50%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .image-text h3 {
        transform: scale(0.8);
    }
    .image-div {
        text-align: center;
        color: gold;
        position: relative;
        margin-top: 10%;
    }
}

@media only screen and (min-width: 900px){
    .image-text {
        font-size: 120%;
        color: white;
        position: absolute;
        text-align: center;
        width: 60%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .image-text h3 {
        transform: scale(0.8);
    }
    .image-div {
        text-align: center;
        color: gold;
        position: relative;
        margin-top: 10%;
    }
}

@media only screen and (min-width: 1000px){
    .image-text {
        font-size: 150%;
        color: white;
        position: absolute;
        text-align: center;
        width: 60%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .image-text h3 {
        transform: scale(1.5);
    }
    .image-div {
        text-align: center;
        color: gold;
        position: relative;
        margin-top: 8%;
    }
}

/* image scale end */

.div {
    text-align: center;
    color: gold;
    margin: auto;
}

.boxed-items {
    display: inline-block;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid gold;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 40%);
    transition: all .2s ease-in-out;
    width: 80%;
    max-width: 400px;
    padding: 50px;
    background-color: white;
}


.mes-div {
    background-color: whitesmoke; 
    text-align: center;
    margin: auto;
    width: 100%;
}

.footer {
    position: relative;
    background-color: white;
    color: black;
    border-top: 1px solid gold;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 40px;
}

.footer p {
    font-size: 70%;
    transform: scale(0.8);
}

.footer span {
    color: gold;
}

  .carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity ease-in 0.7s;
  }
  
  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }
  
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    opacity: 0;
  }
  
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item.active,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
  }
  
/* carousel content */

@media only screen and (max-width: 400px){
    #cr-btn {
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 400px){
    #cr-btn {
        transform: scale(0.5);
    }
    #cr-container {
        transform: scale(0.7);
    }
}

  @media only screen and (min-width: 350px){
    .cr-content {
        text-align: center;
        color: white;
        display: inline-block;
        font-size: 50%;
        width: 40%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  @media only screen and (min-width: 380px){
    .cr-content {
        text-align: center;
        color: white;
        display: inline-block;
        font-size: 60%;
        width: 40%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  @media only screen and (min-width: 450px){
    .cr-content {
        text-align: center;
        color: white;
        display: inline-block;
        font-size: 70%;
        width: 40%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  @media only screen and (min-width: 550px){
    .cr-content {
        text-align: center;
        color: white;
        display: inline-block;
        font-size: 70%;
        width: 40%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  @media only screen and (min-width: 600px){
    .cr-content {
        text-align: center;
        color: white;
        display: inline-block;
        font-size: 100%;
        width: 40%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  @media only screen and (min-width: 800px){
    .cr-content {
        text-align: center;
        color: white;
        display: inline-block;
        font-size: 120%;
        width: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #cr-btn {
        margin-top: 30px;
        transform: scale(1.5);
    }
  }

  @media only screen and (min-width: 1125px) {
    #carouselExampleIndicators{
        margin-top: 5%;
    }
  }

  #dr-header {
    height: 200px;
    background-color: gray;
  }

  #dr-header h3 {
    color: gold;
  }

  .dr-image {
    text-align: center;
    box-shadow: 0 1px 3px rgb(0 0 0 / 40%);
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15%;
    padding-bottom: 5%;
  }

  .dr-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%; 
    padding: 20px;
    transform: scale(2.5);
  }

  .dr-image p {
    color: black;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 40%;
  }

  @media only screen and (min-width: 390px) {
    .dr-image p {
        margin-top: 20px;
      }
  }

  @media only screen and (min-width: 430px) {
    .dr-image p {
        margin-top: 40px;
      }
  }

  @media only screen and (min-width: 515px) {
    .dr-image p {
        margin-top: 60px;
      }
  }

  @media only screen and (min-width: 650px) {
    .dr-image p {
        margin-top: 80px;
      }
  }

  @media only screen and (min-width: 750px) {
    .dr-image p {
        margin-top: 100px;
      }
  }

  @media only screen and (min-width: 860px) {
    .dr-image p {
        margin-top: 120px;
      }
  }

  @media only screen and (min-width: 960px) {
    .dr-image p {
        margin-top: 150px;
      }
  }

  @media only screen and (min-width: 450px) {
    #dr-header {
        height: 300px;
    }
  }

  @media only screen and (min-width: 1000px) {
    #dr-header {
        height: 400px;
    }
  }

  input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }


